<template name="end">
<div class="main-content">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="title">Thank you for having choose TakeTalk!</span></div>
                <div class="panel-body">
                    <p>Here a summary of what happened during this meeting</p>
                    <!--
                    Endroit pour afficher les statistiques de fin de meeting et autres informations
                        + Temps de parole de chaque participant
                        + Temps de discussion pour chaque sujet
                        + Le lien du document collaboratif
                        + Export excel des stats
                        + Résultat du vote pour chaque sujet
                        .....
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
</template>