<template name="home">
<div class="main-content">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="title">TakeTalk is your new companion app!</span></div>
                <div class="panel-body">
                    <p>With TakeTalk manage your contributors' speech time to make the best out of your meetings!</p>
                    <div class="spacer text-right">
                        <button type="button" class="btn btn-space btn-primary btn-rounded btn-lg" id="open">
                            <a style="color:#fff" href="{{pathFor 'create'}}"><i class="icon icon-left s7-users"></i> Open a meeting</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
