<template name="tutorial">
<aside class="page-aside">
    <div class="am-scroller nano has-scrollbar">
        <div class="nano-content" tabindex="0" style="right: -17px;">
            <div class="content">
                <h2>Menu</h2>
                <p>This is the <b>aside</b> content, you can easily add content and components to this element.</p>
            </div>
        </div>
        <div class="nano-pane" style="display: none;"><div class="nano-slider" style="height: 268px; transform: translate(0px, 0px);"></div></div></div>
</aside>
<div class="page-head" style="left:250px">
    <h2>Tutorial</h2>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="title">How to use TakeTalk</span></div>
                <div class="panel-body">
                    <p>List of the functonalities</p>
                    <!-- Ici un possible tutoriel si vous avez le temps de vous ennuyer -->
                </div>
            </div>
        </div>
    </div>
</div>
</template>
